@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.66px;
}
body{

    background-color:hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 18px;
}

.top{

    background-color: hsl(216, 50%, 16%);
    height: auto;
    width: 375px;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0px 0px 27px 10px rgba(0,0,0,0.2);
}

.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.nft {
    
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 27px 10px rgba(0,0,0,0.2);
}

.view{
    height: 100%;
    width: 100%;
    background-color: hsl(178, 100%, 50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0%;
    transition: .2s;
}

.view:hover{
    opacity: 60%;
    cursor: pointer;
}

.view img{
    width: 50px;
    height: 50px;
}

.title{

    color: aliceblue;
    margin-bottom: 23px;
    transition: .2s;
}

.title:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.desc{
    color: hsla(215, 52%, 70%, 0.816);
    margin-bottom: 23px;
    
}

.t5,.eth{
    color: hsl(215, 51%, 70%);
    font-weight: 600;
    font-size: 0.9em;
}

.span-right{
    float: right;
}

.middle{
    margin-bottom: 20px
}
.middle span span{
    vertical-align: middle;
}

.middle span img{
    vertical-align: middle;
    margin-right: 7px;
}


hr{
    border-style: none;
    border-bottom-style: solid;
    border-color: aliceblue;
    margin-bottom: 20px;
    width: 100%;
    border-color: azure;
}



.bot span img,span{
    vertical-align: middle;
}

.bot span span{
    color: aliceblue;
}

.bot img{
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 20px;
}

.eth{
    color: hsl(178, 100%, 50%);
}

.t3{
    font-weight: 300;
}

.jls{
    transition: .2s;
}
.jls:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}



